<div class="row">
  <h1>Experiencia Laboral</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h2>ARM SERVICES</h2>
        -
        <h3>(Años)</h3>
        <p>
          Gestion de informes. Analisis de datos sobre sistema de gestion
          online. | Colaboracion en desarrollo de un sistema de gestion
          integrado propio.
          <br />

          Operaciones en monitoreo. | Coordinacion en centro operativo.
        </p>
      </li>
    </ul>
    <ul>
      <li>
        <h2>DeFiSA</h2>
        -
        <h3>(Años)</h3>
        <p>
          Operador en balanza. | Gestion de ingreso y salida en sistema
          aduanero. <br />Control de tara. | Gestiones Administrativas.
        </p>
      </li>
    </ul>
    <ul>
      <li>
        <h2>Buenos Aires Kioskos Argentinos</h2>
        -
        <h3>(Años)</h3>
        <p>
          Encargado de local. | Atencion al cliente.
          <br />Reposicion de productos. | Control de Stock.
        </p>
      </li>
    </ul>
  </div>
</div>
