.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redes {
    margin-right: 0.5em;
}

#logoap{
    width: 150px;
    padding-inline-start: 20px;
    
}
img {
    width: 50px;
    padding-inline-start: 8px;

}
.btn {
    border-width: medium;
}

/*---vista de celular ---*/
@media (max-width:575px) {
.container {
    flex-direction: column;
}
.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redes img {
    margin: 0.3em;
}
}