<div class="row">
    <h1>Educacion y Desarrollo</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudio 1</h1> - <h3>(Años)</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta amet rem laudantium esse tempore eaque sint voluptatem? Iusto delectus, voluptatem sit magnam harum est inventore iste voluptatibus esse modi dolorum?</p>
                
            </li>
        </ul>
        <ul>
            <li>
                <h1>Estudio 2</h1> - <h3>(Años)</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta amet rem laudantium esse tempore eaque sint voluptatem? Iusto delectus, voluptatem sit magnam harum est inventore iste voluptatibus esse modi dolorum?</p>
                
            </li>
        </ul>
        <ul>
            <li>
                <h1>Estudio 3</h1> - <h3>(Años)</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta amet rem laudantium esse tempore eaque sint voluptatem? Iusto delectus, voluptatem sit magnam harum est inventore iste voluptatibus esse modi dolorum?</p>
                
            </li>
        </ul>

    </div>

</div>