<div class="row">
    <h1>Educacion y Desarrollo</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>I.F.C.E 2010 SAN MIGUEL</h2> - <h3>(Años)</h3>
                <p>
                    <br>Estudios Secundarios Bachiller con orientacion en ciencias sociales.
                </p>
                
            </li>
        </ul>
        <ul>
            <li>
                <h2>FUNDACION TELEFONICA MOVISTAR</h2> - <h3>(Años)</h3>
                <p>Desarrollo Fullstack, con orientacion en backend
                    <br>Aprendimos mucho sobre base de datos con mysql,xampp y el lenguaje de programacion php.
                </p>
                
            </li>
        </ul>
        <ul>
            <li>
                <h2>ARGENTINA PROGRAMA 2022  | YO PROGRAMO</h2> - <h3>(Años)</h3>
                <p>Todas las tecnologias aprendidas durante el curso aplicadas en este portfolio.</p>
                
            </li>
        </ul>

    </div>

</div>