
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/fotoperfil.jpeg" id="fotodeperfil" class="img-fluid">
    </div>



    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-4">
    <h1>Rodrigo Ariel Plaza</h1><br><br><br>
    <h3>Full Stack Developer</h3>
    
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
    <span>
    <h1>En este portfolio encontraras...</h1>
    <p id="name">
        <li>
        Informacion acerca de mis experiencias laborales.
        Estudios realizados.
        </li>
        <li>
         Datos sobre los proyectos que realizo.
         Info sobre mis crecimiento en habilidades destacadas. 
        </li>
        <li>
        Informacion util para contactarme.
        </li>

    </p>
    </span>
    </div>
</div>    
