
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/fotoperfil.jpeg" id="fotodeperfil" class="img-fluid">
    </div>



    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <h1>Full Stack Developer</h1>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
    <h1>Soy Rodrigo</h1>
    <p id="name">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex, aspernatur autem cupiditate doloribus soluta, fugiat repellat voluptate nemo obcaecati porro labore placeat voluptatibus possimus laudantium distinctio ea, voluptates itaque. Voluptatem?</p>
    </span>
    </div>
</div>    
