.row {
   padding: 60px;
   background-color: #afb9c8;
}
.contenedor {
    width: auto;
    
}
.parte1,.parte2 {
    display: inline-block;
    text-align: justify;

}
.img-proyecto {
    box-shadow: 10px 10px 60px #b44545;
    border-radius: 180%;
}